<%- include("../includes/header.ejs", {title:"Account - " + result[0].email}); %>
<h1>Accounts</h1>
<ul>
    <li>Account Name: <%= result[0].first_name + ' ' + result[0].last_name %></li>
    <li>Email(s):
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].email %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/account/all"><< back</a>

<%- include("../includes/footer.ejs"); %>