<%- include("../includes/header.ejs", {title:"Skills - " + result[0].skill_name}); %>
<h1>Skills</h1>
<ul>
    <li>Skill Name: <%= result[0].skill_name %></li>
    <li>Description:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].description %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/skill/all"><< back</a>

<%- include("../includes/footer.ejs"); %>